.buttons{
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 10px;
	width: 200px;
	height: 30px;
}
.maps{
	width: 200px;
	height: 300px;
}
.button{
	padding: 5px 5px 5px 5px !important;
	width: 30px;
	float: left: 5px;
	margin-right: 5px;
}
.fa-backward{	
	content: "f04a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}
.map_footer{
	width: 300px;
	height: auto;
	position: absolute;
	z-index: 1;
}
.map_top{
	width: 300px;
	height: auto;
	position: absolute;
	z-index: 9999;
}
.seek{
	width: 300px;
	height: auto;
	margin: 20px 5px 20px 10px;
}
.hidden{
	display: none;
}
.car{
	width: 4%;
	height: auto;
	position: absolute;
	z-index: 3;
	padding-left: 63%;
	padding-top: 31%;
}
.secondCar{
	width: 4%;
	height: auto;
	position: absolute;
	z-index: 3;
	padding-left: 12%;
	padding-top: 45%;
}
.evacuator{
	width: 5%;
	height: auto;
	position: absolute;
	z-index: 3;
	padding-left: 17%;
	padding-top: 51%;
}
.secondEvacuator{
	width: 5%;
	height: auto;
	position: absolute;
	z-index: 3;
	padding-left: 63%;
	padding-top: 30%;
}